.basket {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-top: 100px;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .basketBlock {
    h1 {
      font-size: 35px;
      font-weight: 600;
      font-family: sans-serif;
    }
    p {
      margin: 20px 0;
      font-size: 24px;
      font-weight: 500;
      font-family: sans-serif;
    }
    h3 {
      font-size: 22px;
      margin: 12px 0;
    }
    .btnDel {
      font-size: 27px;
      border-radius: 10px;
      background-color: transparent;
      color: red;
      border: none;
    }
  }
}
.basket-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
