#hero {
  height: 100vh;
  width: 100%;
  filter: brightness(60%);
  opacity: 92%;
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
    .hero-box {
      display: flex;
      align-items: center;

      .input-hero {
        border: 2px solid transparent;
        width: 50em;
        height: 3em;
        padding-left: 0.8em;
        outline: none;
        overflow: hidden;
        background-color: #f3f3f3;
        border-radius: 10px 0 0 10px;
        transition: all 0.5s;
        font-size: 18px;
      }

      .input-hero:hover,
      .input-hero:focus {
        border: 2px solid #4a9dec;
        box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
        background-color: white;
      }
    }
    button {
      color: #090909;
      padding: 0.8em 1.7em;
      font-size: 18px;
      border-radius: 0 10px 10px 0;
      background: #e8e8e8;
      cursor: pointer;
      border: 1px solid #e8e8e8;
      transition: all 0.3s;
      box-shadow: 1px 1px 1px #c5c5c5, -6px -6px 12px #ffffff;
    }

    button:hover {
      border: 1px solid white;
    }

    button:active {
      box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    }
  }
}

.home {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding-top: 300px;
  .home-right {
    font-size: 12px;
    h5 {
      font-size: 20px;
      margin-top: 10px;
    }
  }
  .home-btn {
    .btn {
      transition: all 0.3s ease-in-out;
      font-family: "Dosis", sans-serif;
    }

    .btn {
      width: 150px;
      height: 60px;
      border-radius: 50px;
      background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
      box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
      outline: none;
      cursor: pointer;
      border: none;
      font-size: 24px;
      color: white;
    }

    .btn:hover {
      transform: translateY(3px);
      box-shadow: none;
    }

    .btn:active {
      opacity: 0.5;
    }
  }
  .home-display {
    display: flex;
    align-items: center;
    gap: 550px;
    margin-top: 40px;
  }
}

#position {
}

.position {
  margin-top: 200px;
  .position-div {
    position: relative;
    img {
      position: absolute;
    }
    .img-2 {
      left: 720px;
      border-radius: 80%;
      object-fit: cover;
      margin-top: 13pc;
    }
    .img-1 {
      border-radius: 100px;
      left: 450px;
      top: 70px;
    }
    .img-3 {
      border-radius: 100px;
      left: 64pc;
      top: 64px;
    }
    .img-4 {
      border-radius: 100px;
      top: 18pc;
      left: 14pc;
    }
    .img-5 {
      border-radius: 100px;
      left: 78pc;
      top: 18pc;
    }
    .img-6 {
      object-fit: cover;
      border-radius: 100px;
      left: 30pc;
      top: 29pc;
    }
    .img-7 {
      border-radius: 100px;
      left: 58pc;
      top: 29pc;
    }
  }
}
.games-all {
  display: grid;
  grid-template-columns: repeat(3, 20%);
}
.hero-detail {
  display: flex;
  align-items: center;
  gap: 50px;
  background: white;
  width: 100%;
}
.hero-detail img {
  width: 250px;
}
