.games {
  display: grid;
  grid-template-columns: repeat(4, 30%);
  row-gap: 200px;
  margin-top: 100px;
  .games-all {
    .games-block {
      width: 500px;
      height: 550px;
      background-color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 400px;
      }
    }
  }
}
.categories {
  padding: 50px 0;
  display: flex;
  gap: 150px;
}

.janr-box {
  width: 400px;
  height: 300px;
  background: url("https://image.api.playstation.com/vulcan/ap/rnd/202206/0720/eEczyEMDd2BLa3dtkGJVE9Id.png")
    no-repeat center/cover;
  filter: blur(1.5px);
  opacity: 93%;

  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    color: white;
    position: absolute;
  }
}
.janr-boxTwo {
  width: 400px;
  height: 300px;
  background: url("https://xboxera.com/wp-content/uploads/2023/09/ufc-5key-art-1.jpg")
    no-repeat center/cover;
  filter: brightness(60%);
  opacity: 93%;

  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    position: absolute;
    margin-top: 10px;
  }
}
.card-games {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.janr-boxThree {
  width: 400px;
  height: 300px;
  background: url("https://xxboxnews.blob.core.windows.net/prod/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg")
    no-repeat center/cover;

  filter: brightness(60%);
  opacity: 93%;

  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
  }
}

.section-width {
  width: 100%;
  height: 4px;
  background-color: grey;
}
