header {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        font-size: 20px;
        font-weight: 700;
        color: white;
        transition: 1s;
        &&:focus {
          background: rgb(238, 174, 202);
          background: radial-gradient(
            circle,
            rgba(238, 174, 202, 1) 0%,
            rgba(58, 121, 201, 1) 100%
          );

          padding: 10px;
          border-radius: 15px;
          transition: 1s;
          border-radius: 10px;
        }
      }
    }
    .input {
      border: none;
      outline: none;
      border-radius: 15px;
      padding: 1em;
      background-color: #ccc;
      box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
      transition: 300ms ease-in-out;
    }
    button {
      border: none;
      border-radius: 20px;
      background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
      transition: all 1.5s ease;
      font-family: "Ropa Sans", sans-serif;
      font-weight: bold;
      letter-spacing: 0.05rem;
      padding: 0;
    }

    button span {
      display: inline-block;
      padding: 10px 10px;
      font-size: 17px;
      border-radius: 10px;
      background: #ffffff10;
      backdrop-filter: blur(20px);
      transition: 0.4s ease-in-out;
      transition-property: color;
      height: 100%;
      width: 100%;
    }

    button span:hover {
      backdrop-filter: blur(0px);
      color: #ffffff;
    }
    .input:focus {
      background-color: white;
      transform: scale(1.05);
      box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
    }
    .inputBox {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .inputBoxs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .iconAdmin {
      font-size: 30px;
      color: white;
    }
    .switch {
      display: block;
      --width-of-switch: 3.5em;
      --height-of-switch: 2em;
      --size-of-icon: 1.4em;
      --slider-offset: 0.3em;
      position: relative;
      width: var(--width-of-switch);
      height: var(--height-of-switch);
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f4f4f5;
      transition: 0.4s;
      border-radius: 30px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: var(--size-of-icon, 1.4em);
      width: var(--size-of-icon, 1.4em);
      border-radius: 20px;
      left: var(--slider-offset, 0.3em);
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #303136;
    }

    input:checked + .slider:before {
      left: calc(
        100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
      );
      background: #303136;
      box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }
  }
}
.iconBasket {
  font-size: 29px;
  color: white;
  margin-bottom: 4px;
}
.header-basket {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-basket p {
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 154px;
  top: 33px;
}

.header-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
