footer {
  margin-top: 720px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 100px 0;

  .footer {
    display: flex;
    align-items: center;
    gap: 190px;
    .footer-text {
      img {
        border-radius: 15px;
      }
    }
    .footer-inputs {
      display: flex;
      align-items: center;
      margin-top: 20px;

      input {
        width: 400px;
        height: 50px;
        border-radius: 12px 0 0 12px;
        outline: none;
        padding: 0 12px;
        font-size: 20px;
      }
      button {
        padding: 15px 25px;
        font-size: 17px;
        border: none;
        &:hover {
          background-color: blue;
          color: white;
          transition: 1s;
        }
      }
    }
    .footer-a {
      display: flex;
      align-items: center;
      flex-direction: column;
      a {
        font-size: 18px;
        color: rgb(236, 230, 230);
        padding: 8px 0;
      }
      h5 {
        font-size: 20px;
        color: white;
      }
    }
  }
}

.footer-section {
  margin-top: 50px;
  width: 100%;
  height: 2px;
  background-color: rgb(222, 218, 218);
  .footer-two {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin-top: 50px;
      color: rgb(232, 229, 229);
      font-size: 19px;
    }
  }
}
