@import "./components/Header/header.scss";
@import "./components/Footer/footer.scss";
@import "./components/hero/hero.scss";
@import "./pages/password/password.scss";
@import "./pages/admin/admin.scss";
@import "./pages/allgames/games.scss";
@import "./pages/detail/detail.scss";
@import "./media.scss";
@import "./pages/basket/basket.scss";
@import "./pages/search/search.scss";
